{% extends "header.html" %}


{% block body %}

<center><b><h1>About</h1></b></center>

<center><p1>Well hello there, stranger! Welcome to NerdCentral!!!</p1></center>

<p>This website here is able about making your life easier regarding finding jobs within industries that are hard to find jobs in. With human-beings today
we are lazy and we want things to convient and accessible. This website is suppose to be able learning about the Anime, and Video Game industry while keeping 
it simple and straight the point. You will find career options and companies related to these industries and get a better idea what life you would have
if you chose to go down these routes.</p>

<br>

<center><h2>Video Sources</h2></center>
<center>
<p>
Mirai: https://www.youtube.com/watch?v=6d-lsJZgmJs (Anime) <br>
Blade and Soul: https://www.youtube.com/watch?v=Y6YIwJsGTVk (Video Game) <br>
Naruto: https://www.youtube.com/watch?v=-G9BqkgZXRA (Anime) <br>
</p>
</center>


<style>

p1
    {
      font-family: 'Lobster', cursive;
    font-size: 50px; 

    }
    
    h1{
        font-family: 'Lobster', cursive;
        font-size: 150px;

    }
    #video
    {
        font-family: 'Lobster', cursive;
        font-size: 75px; 
    }

</style>

{% endblock %}