{% extends "header.html" %}

{% block body %}

<head>
</head>
<body>

<center><p>Companies down below! Take a look!</p></center>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Aniplex-tab" data-toggle="pill" href="#v-pills-Aniplex" role="tab" aria-controls="v-pills-Aniplex" aria-selected="true">Aniplex of America</a>
      <a class="nav-link" id="v-pills-Crunchyroll-tab" data-toggle="pill" href="#v-pills-Crunchyroll" role="tab" aria-controls="v-pills-Crunchyroll" aria-selected="false">Crunchyroll</a>
      <a class="nav-link" id="v-pills-Funimation-tab" data-toggle="pill" href="#v-pills-Funimation" role="tab" aria-controls="v-pills-Funimation" aria-selected="false">Funimation</a>
      <a class="nav-link" id="v-pills-Discotek-tab" data-toggle="pill" href="#v-pills-Discotek" role="tab" aria-controls="v-pills-Discotek" aria-selected="false">Discotek Media</a>
      <a class="nav-link" id="v-pills-Shout-tab" data-toggle="pill" href="#v-pills-Shout" role="tab" aria-controls="v-pills-Shout" aria-selected="false">Shout! Factory</a>
      <a class="nav-link" id="v-pills-Eleven-tab" data-toggle="pill" href="#v-pills-Eleven" role="tab" aria-controls="v-pills-Eleven" aria-selected="false">Eleven Arts Studios</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-Aniplex" role="tabpanel" aria-labelledby="v-pills-Aniplex-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FuqTxXFDM2ag%2Fmaxresdefault.jpg&f=1" width="50%">
            <br>
       Company: Aniplex of America
            <br>
        Location:
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52909.72811932581!2d-118.51577494181888!3d34.02185553708686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4cec2910019%3A0xb4170ab5ff23f5ab!2sSanta+Monica%2C+CA!5e0!3m2!1sen!2sus!4v1556822297067!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br>
        Closet Major City: Los Angeles
            <br>
        Titles:
            <ul>
            <li>Blend S</li>
            <li>Fate/Stay Series</li>
            <li>Sword Art Online Series</li>
            </ul>
            <br>
        Career Website: <a href="https://careers.sony.com/sony/">https://careers.sony.com/sony/</a>
            <br>
        </div>
      <div class="tab-pane fade" id="v-pills-Crunchyroll" role="tabpanel" aria-labelledby="v-pills-Crunchyroll-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.pcmag.com%2Fmedia%2Fimages%2F434956-crunchyroll-logo.png%3Fwidth%3D910%26height%3D456&f=1" width="50%">
          <br>
          Company: Crunchyroll
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.215336793111!2d-122.40867928468202!3d37.78499297975765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858086790f3e85%3A0x59a37ae4059d8a2e!2sCrunchyroll+Games!5e0!3m2!1sen!2sus!4v1556822547127!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closet Major City: San Fransico
          <br>
          Titles: Streamer of many different titles
          <br>
          Career Website: <a href="https://www.crunchyroll.com/jobs?type=all">https://www.crunchyroll.com/jobs?type=all</a>
      </div>
      <div class="tab-pane fade" id="v-pills-Funimation" role="tabpanel" aria-labelledby="v-pills-Funimation-tab">
      <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.873_Z-4fsyMlqbL2eorfLAHaHa%26pid%3DApi&f=1" width="50%">
          <br>
          Company: Funimation
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.313862578227!2d-97.04952918483747!3d32.995499780906535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c2c5e55b9b6e9%3A0x43b10312f2b14894!2sFUNimation+Entertainment!5e0!3m2!1sen!2sus!4v1556822832253!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closet Major City: Dallas/Fort Worth
          <br>
          Titles:
          <ul>
          <li>Akashic Records of Bastard Magic Instructor</li>
          <li>Eureka Seven</li>
          <li>My Hero Academia</li>
          </ul>
          <br>
          Career Website: N/A (Phsyical reach out)
      </div>
      <div class="tab-pane fade" id="v-pills-Discotek" role="tabpanel" aria-labelledby="v-pills-Discotek-tab">
          <img src="https://fontslogo.com/wp-content/uploads/2014/10/Discotek-Media-Logo-Font.jpg" width="50%">
        <br>
          Company: Discotek Mediaz
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112026.32580632347!2d-81.46355671435741!3d28.66502753148567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e7716e03894b71%3A0x19ecc2741b13c79f!2sAltamonte+Springs%2C+FL!5e0!3m2!1sen!2sus!4v1556823176600!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closet Major City: Orlando
          <br>
          Titles:
          <ul>
          <li>Elemental Gelade</li>
          <li>Cardcaptor Sakura Movie 2</li>
          <li>Marmalade Boy</li>
          </ul>
          <br>
          Career Website: N/A (Phsyical reach out)
     </div>
    <div class="tab-pane fade" id="v-pills-Shout" role="tabpanel" aria-labelledby="v-pills-Shout-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.animationmagazine.net%2Fwordpress%2Fwp-content%2Fuploads%2FShout-Studios-post.jpg&f=1" width="50%">
        <br>
          Company: Shout! Factory
          <br>
          Location:
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.8107457926244!2d-118.44708908478502!3d34.04872548060684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb12c73a6b55%3A0x32f56a48967a2703!2sShout+Factory+LLC!5e0!3m2!1sen!2sus!4v1556823701991!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
        Closet Major City: Los Angeles
          <br>
          Titles:
          <ul>
          <li>Silent Voice</li>
          <li>Liz and the Blue Bird</li>
          </ul>
          <br>
          Career Website: <a href="https://www.shoutfactory.com/corp/job-opportunities">https://www.shoutfactory.com/corp/job-opportunities</a> 
     </div>
     <div class="tab-pane fade" id="v-pills-Eleven" role="tabpanel" aria-labelledby="v-pills-Eleven-tab">
         <img src="https://uploads-ssl.webflow.com/5a62c3f6a6d4b00001085ef4/5a62cd1eb7d11f000155bf85_59ff6f5fd4ae9c0001bf9d72_logo-p-500.png" width="50%">
        <br>
          Company: Eleven Arts Studios
          <br>
          Location:
         <br>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.1999552791995!2d-118.44447558478535!3d34.0387415806096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb74f7339583%3A0x7a9bc7a1d8747ace!2sEleven+Arts+Inc!5e0!3m2!1sen!2sus!4v1556823828501!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
         Closet Major City: Los Angeles
         <br>
          Titles:
         <ul>
         <li>Penguin Highway</li>
         <li>Silent Voice</li>
            <li>Liz and the Blue Bird</li>
         </ul>
          <br>
          Career Website: <a href="https://www.entertainmentcareers.net/company/?company=Eleven+Arts%2C+Inc%2E">https://www.entertainmentcareers.net/company/?company=Eleven+Arts%2C+Inc%2E</a>
     </div>
    </div>
  </div>
</div>
    
<style>
    body
    {
       background-color: aquamarine; 
    }
    .company
    {
    font-family: 'Lobster', cursive;
    width: 1000px;
    height: 500px;
    background-color: lightblue;
    position: absolute;
    left: 300px;
    bottom: 130px;
    }
    p
    {
      font-family: 'Lobster', cursive;  
    }

</style>
</body>

{% endblock %}