{% extends "header.html" %}

{% block body %}

<head>
</head>
<body>

<center><p>Companies  down below! Take a look!</p></center>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Act-tab" data-toggle="pill" href="#v-pills-Act" role="tab" aria-controls="v-pills-Act" aria-selected="true">Activision Blizzard</a>
      <a class="nav-link" id="v-pills-Band-tab" data-toggle="pill" href="#v-pills-Band" role="tab" aria-controls="v-pills-Band" aria-selected="false">Bandai Namco of America</a>
      <a class="nav-link" id="v-pills-Bliz-tab" data-toggle="pill" href="#v-pills-Bliz" role="tab" aria-controls="v-pills-Bliz" aria-selected="false">Blizzard Entertainment</a>
      <a class="nav-link" id="v-pills-Bungie-tab" data-toggle="pill" href="#v-pills-Bungie" role="tab" aria-controls="v-pills-Bungie" aria-selected="false">Bungie</a>
      <a class="nav-link" id="v-pills-Elec-tab" data-toggle="pill" href="#v-pills-Elec" role="tab" aria-controls="v-pills-Elec" aria-selected="false">Electronic Arts (EA)</a>
      <a class="nav-link" id="v-pills-Epic-tab" data-toggle="pill" href="#v-pills-Epic" role="tab" aria-controls="v-pills-Epic" aria-selected="false">Epic Games</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-Act" role="tabpanel" aria-labelledby="v-pills-Act-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F5QCRjThQOpc%2Fhqdefault.jpg&f=1" width="50%">
            <br>
        Company: Activision
            <br>
        Location: 
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52909.72811932581!2d-118.51577494181888!3d34.02185553708686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4cec2910019%3A0xb4170ab5ff23f5ab!2sSanta+Monica%2C+CA!5e0!3m2!1sen!2sus!4v1556844026108!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br>
            Closest Major City: Los Angeles
            <br>
        Titles:
            <ul>
            <li>Spyro</li>
            <li>Call of Duty</li>
            <li>Sekiro: Shadows Die Twice</li>
            </ul>
            <br>
        Career Website: <a href="https://activision.referrals.selectminds.com/">https://activision.referrals.selectminds.com/</a>
            <br>
        </div>
      <div class="tab-pane fade" id="v-pills-Band" role="tabpanel" aria-labelledby="v-pills-Band-tab">
      <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.QF9oZDoUJopPWdk27b-TnAHaGA%26pid%3DApi&f=1" width="50%">
          <br>
          Company: Bandai Namco of America
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.0444112448768!2d-121.9634296846934!3d37.38878197983161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc990de10d38d%3A0xf57b8a364795e09a!2sBANDAI+NAMCO+Entertainment+America!5e0!3m2!1sen!2sus!4v1556844349406!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: San Jose
          <br>
          Titles:
          <ul>
          <li>Jump Force</li>
          <li>Dark Souls</li>
          <li>God Eater Series</li>
          </ul>
          <br>
          Career Website: <a href="bandainamcoent.com/careers">bandainamcoent.com/careers</a>
      </div>
      <div class="tab-pane fade" id="v-pills-Bliz" role="tabpanel" aria-labelledby="v-pills-Bliz-tab">
          <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.critical-reviews.com%2Fwp-content%2Fuploads%2F2016%2F05%2FBlizzard-Logo.jpg&f=1" width="50%">
        <br>
          Company: Blizzard Entertainment 
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225658.3469734365!2d-117.8271126903445!3d33.67898040306729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcde82907fe8bb%3A0xcb7104743d635730!2sBlizzard+Entertainment!5e0!3m2!1sen!2sus!4v1556844754148!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Los Angeles
          <br>
          Titles:
          <ul>
          <li>World of Warcraft (WOW)</li>
        <li>Heartstone</li>
          <li>Overwatch</li>
          </ul>
          <br>
          Career Website: <a href="https://careers.blizzard.com/en-gb/openings">https://careers.blizzard.com/en-gb/openings</a> 
     </div>
    <div class="tab-pane fade" id="v-pills-Bungie" role="tabpanel" aria-labelledby="v-pills-Bungie-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fhalo.bungie.net%2Fimages%2FNews%2FInline11%2Fbwu_0128%2Fwallpaper_droid%2FBungie_Logo.jpg&f=1" width="50%">
        <br>
          Company: Bungie
          <br>
          Location:
          <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86094.73701424985!2d-122.22117123831545!3d47.59773418340015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906bcfa3a66041%3A0xbacf5482ead00765!2sBellevue%2C+WA!5e0!3m2!1sen!2sus!4v1556844969273!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
        Closest Major City: Seattle
        <br>
          Titles:
          <ul>
        <li>Destiny Series</li>
        <li>Halo Series</li>
         </ul>
          <br>
          Career Website: <a href="https://careers.bungie.com/en-US/">https://careers.bungie.com/en-US/</a>
     </div>
     <div class="tab-pane fade" id="v-pills-Elec" role="tabpanel" aria-labelledby="v-pills-Elec-tab">
         <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fnerdreactor.com%2Fwp-content%2Fuploads%2F2015%2F09%2Fea-logo.jpg&f=1" width="50%">
        <br>
          Company: Electronic Arts (EA)
          <br>
          Location:
          <br>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6427.972230424491!2d-77.45804358059787!3d39.015096904415216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6392872519903%3A0x9ee4696f97156b8d!2sElectronic+Arts!5e0!3m2!1sen!2sus!4v1556845564928!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Washington
          <br>
          Titles:
         <ul>
         <li>Madden Series</li>
         <li>Sims</li>
         <li>FIFA Series</li>
         </ul>
          <br>
          Career Website: <a href="https://www.ea.com/careers">https://www.ea.com/careers</a> 
     </div>
        <div class="tab-pane fade" id="v-pills-Epic" role="tabpanel" aria-labelledby="v-pills-Epic-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fvrtgo.co.uk%2Fwp-content%2Fuploads%2F2017%2F07%2FEpic_Games_logo.svg_.png&f=1" width="50%">
            <br>
          Company: Epic Games
          <br>
          Location:
          <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1830.3089248952151!2d-78.7347538379935!3d35.7562972633825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89acf4964103c69f%3A0x4fd397078ceffa1!2sEpic+Games!5e0!3m2!1sen!2sus!4v1556845159022!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen width></iframe>
           <br>
            Closest Major City: Raleigh
            <br>
          Titles:
            <ul>
            <li>Borderlands Series</li>
            <li>Fortnite</li>
            <li>Slime Rancher</li>
            </ul>
          <br>
          Career Website: <a href="https://www.epicgames.com/site/en-US/careers">https://www.epicgames.com/site/en-US/careers</a>
     </div>
    </div>
  </div>
</div>
    
<style>
    body
    {
       background-color: aquamarine; 
    }
    .company
    {
    font-family: 'Lobster', cursive;
    width: 1000px;
    height: 500px;
    background-color: lightblue;
    position: absolute;
    left: 300px;
    bottom: 130px;
    }
    p
    {
      font-family: 'Lobster', cursive;  
    }

</style>
</body>

{% endblock %}