{% extends "header.html" %}

{% block body %}

<head>
</head>
<body>

<center><p>Companies  down below! Take a look!</p></center>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Inf-tab" data-toggle="pill" href="#v-pills-Inf" role="tab" aria-controls="v-pills-Inf" aria-selected="true">Infinity Ward</a>
      <a class="nav-link" id="v-pills-In-tab" data-toggle="pill" href="#v-pills-In" role="tab" aria-controls="v-pills-In" aria-selected="false">Insomniac Games</a>
      <a class="nav-link" id="v-pills-Lucas-tab" data-toggle="pill" href="#v-pills-Lucas" role="tab" aria-controls="v-pills-Lucas" aria-selected="false">LucasArts</a>
      <a class="nav-link" id="v-pills-Naughty-tab" data-toggle="pill" href="#v-pills-Naughty" role="tab" aria-controls="v-pills-Naughty" aria-selected="false">Naughty Dog</a>
      <a class="nav-link" id="v-pills-NC-tab" data-toggle="pill" href="#v-pills-NC" role="tab" aria-controls="v-pills-NC" aria-selected="false">NCSoft</a>
      <a class="nav-link" id="v-pills-Nexon-tab" data-toggle="pill" href="#v-pills-Nexon" role="tab" aria-controls="v-pills-Nexon" aria-selected="false">Nexon</a>
      <a class="nav-link" id="v-pills-Nintendo-tab" data-toggle="pill" href="#v-pills-Nintendo" role="tab" aria-controls="v-pills-Nintendo" aria-selected="false">Nintendo of America</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-Inf" role="tabpanel" aria-labelledby="v-pills-Inf-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F726880817771737088%2FMtgJQhNf.jpg&f=1" width="50%">
            <br>
        Company: Infinity Ward
            <br>
        Location: 
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.9036384498663!2d-118.59638108478173!3d34.174381280572845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2978c48ec4351%3A0x10dc20bd97c5e7b7!2sInfinity+Ward!5e0!3m2!1sen!2sus!4v1556896288469!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br>
        Closest Major City: Los Angeles
            <br>
        Titles:
            <ul>
            <li>Call of Duty Series</li>
            </ul>
            <br>
        Career Website: <a href="https://activision.referrals.selectminds.com/infinityward">https://activision.referrals.selectminds.com/infinityward</a>
            <br>
        </div>
      <div class="tab-pane fade" id="v-pills-In" role="tabpanel" aria-labelledby="v-pills-In-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn2-www.playstationlifestyle.net%2Fassets%2Fuploads%2F2017%2F09%2Finsomniac-Games-new-logo-1-555x328.png&f=1" width="50%">
          <br>
          Company: Insomniac Games
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.8309005140823!2d-78.96237458473512!3d35.902156980143324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ace8eda914f20d%3A0xfa3358c1503a8c5c!2sInsomniac+Games!5e0!3m2!1sen!2sus!4v1556896458388!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Charlotte
          <br>
          Titles:
          <ul>
          <li>Song the Deep</li>
          <li>Spider Man</li>
          <li>Storm Land</li>
          </ul>
          <br>
          Career Website: <a href="https://insomniac.games/careers/">https://insomniac.games/careers/</a>
      </div>
      <div class="tab-pane fade" id="v-pills-Lucas" role="tabpanel" aria-labelledby="v-pills-Lucas-tab">
      <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2Fc%2Fce%2FLucasarts_logo.svg%2F1200px-Lucasarts_logo.svg.png&f=1" width="50%">
          <br>
          Company: LucasArts
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201880.51115438552!2d-122.57768437848272!3d37.757617097271385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1556896655131!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: San Fransisco 
          <br>
          Titles:
          <ul>
          <li>Star Wars Series</li>
          </ul>
          <br>
          Career Website: <a href="https://www.lucasfilm.com/careers/">https://www.lucasfilm.com/careers/</a>
      </div>
      <div class="tab-pane fade" id="v-pills-Naughty" role="tabpanel" aria-labelledby="v-pills-Naughty-tab">
          <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn1-www.playstationlifestyle.net%2Fassets%2Fuploads%2F2015%2F04%2F358544.jpg&f=1" width="50%">
        <br>
          Company: Naughty Dog
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1689.1272476112138!2d-118.4716266987386!3d34.0284574040523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb39055993f7%3A0xbc891fc1b60f587a!2sNaughty+Dog+Inc!5e0!3m2!1sen!2sus!4v1556896961001!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Los Angeles 
          <br>
          Titles:
          <ul>
          <li>The Last of Us</li>
          <li>Uncharted</li>
          <li>Jak and Daxter</li>
          </ul>
          <br>
          Career Website: <a href="https://www.naughtydog.com/careers">https://www.naughtydog.com/careers</a> 
     </div>
    <div class="tab-pane fade" id="v-pills-NC" role="tabpanel" aria-labelledby="v-pills-NC-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn3.dualshockers.com%2Fwp-content%2Fuploads%2F2015%2F05%2Fncsoft-logo.jpg&f=1" width="50%">
        <br>
          Company: NCSoft
          <br>
          Location:
          <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3163.1014142979516!2d-122.29453608468873!3d37.55267437980053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9ee61808acad%3A0x21068fe6cc25f90b!2sIron+Tiger+Studios+-+NCSoft!5e0!3m2!1sen!2sus!4v1556897288765!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: San Francisco
        <br>
         Location #2: 
         <br>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.7651635248803!2d-117.72614998479717!3d33.585446080735494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dce8adc2a80f27%3A0x58c1e1fec40bbea2!2sNCSOFT+Orange+County+(NCWest)!5e0!3m2!1sen!2sus!4v1556897407033!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
        Closest Major City: Los Angeles
         <br>
         Titles:
          <ul>
        <li>Blade and Soul</li>
        <li>Guild Wars Series</li>
        <li>Aion Series</li>
          </ul>
          <br>
          Career Website: <a href="https://us.ncsoft.com/careers">https://us.ncsoft.com/careers</a>
     </div>
     <div class="tab-pane fade" id="v-pills-Nexon" role="tabpanel" aria-labelledby="v-pills-Nexon-tab">
         <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FHxt_4Z0T_Ww%2Fhqdefault.jpg&f=1" width="50%">
        <br>
          Company: Nexon
          <br>
          Location:
          <br>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.7831156834072!2d-117.75316298479508!3d33.66278118071363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdd1032bcba0f%3A0x5a4b8b130ba5d618!2sNexon+OC+Studio!5e0!3m2!1sen!2sus!4v1556897615325!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
         Closest Major City: Los Angeles 
         <br>
         Location #2:
         <br>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2100.8405851923817!2d-118.39587391041857!3d33.91837683982879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b14d0e65efd1%3A0x9ac9f4fdf4e767de!2sNexon+America!5e0!3m2!1sen!2sus!4v1556897687965!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         <br>
         Closest Major City: Los Angeles
         <br>
          Titles:
         <ul>
         <li>Maple Story Series</li>
         <li>Riders of Icarus</li>
         <li>Mabinogi</li>
         </ul>
          <br>
          Career Website: <a href="http://nexon.net/corporate/careers/">http://nexon.net/corporate/careers/</a>
     </div>
        <div class="tab-pane fade" id="v-pills-Nintendo" role="tabpanel" aria-labelledby="v-pills-Nintendo-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fhallucinationrain.files.wordpress.com%2F2014%2F03%2Fnintendo-logo.jpg&f=1" width="50%">
            <br>
          Company: Nintendo 
          <br>
          Location:
          <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.7177066855193!2d-122.14139608436797!3d47.6510522791876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906d69e6f323ad%3A0x1bc8d9a86386ffbc!2sNintendo+of+America!5e0!3m2!1sen!2sus!4v1556897896217!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
            Closest Major City: Seattle
            <br>
          Titles:
            <ul>
            <li>Super Smash Brothers</li>
            <li>Mario Kart</li>
            <li>Mortal Kombat</li>
            </ul>
          <br>
          Career Website: <a href="https://careers.nintendo.com/job-openings/">https://careers.nintendo.com/job-openings/</a> 
     </div>
    </div>
  </div>
</div>

    
<style>
    body
    {
       background-color: aquamarine; 
    }
    .company
    {
    font-family: 'Lobster', cursive;
    width: 1000px;
    height: 500px;
    background-color: lightblue;
    position: absolute;
    left: 300px;
    bottom: 130px;
    }
    p
    {
      font-family: 'Lobster', cursive;  
    }

</style>
</body>
    

{% endblock %}