{% extends "header.html" %}

{% block body %}

<head>
</head>
<body>

<center><p>Companies  down below! Take a look!</p></center>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Inf-tab" data-toggle="pill" href="#v-pills-Inf" role="tab" aria-controls="v-pills-Inf" aria-selected="true">Infinity Ward</a>
      <a class="nav-link" id="v-pills-In-tab" data-toggle="pill" href="#v-pills-In" role="tab" aria-controls="v-pills-In" aria-selected="false">Insomniac Games</a>
      <a class="nav-link" id="v-pills-Lucas-tab" data-toggle="pill" href="#v-pills-Lucas" role="tab" aria-controls="v-pills-Lucas" aria-selected="false">LucasArts</a>
      <a class="nav-link" id="v-pills-Naughty-tab" data-toggle="pill" href="#v-pills-Naughty" role="tab" aria-controls="v-pills-Naughty" aria-selected="false">Naughty Dog</a>
      <a class="nav-link" id="v-pills-NC-tab" data-toggle="pill" href="#v-pills-NC" role="tab" aria-controls="v-pills-NC" aria-selected="false">NCSoft</a>
      <a class="nav-link" id="v-pills-Nexon-tab" data-toggle="pill" href="#v-pills-Nexon" role="tab" aria-controls="v-pills-Nexon" aria-selected="false">Nexon</a>
      <a class="nav-link" id="v-pills-Nintendo-tab" data-toggle="pill" href="#v-pills-Nintendo" role="tab" aria-controls="v-pills-Nintendo" aria-selected="false">Nintendo</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-Inf" role="tabpanel" aria-labelledby="v-pills-Inf-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F726880817771737088%2FMtgJQhNf.jpg&f=1" width="50%">
            <br>
        Company:
            <br>
        Location: 
            <br>
        Titles:
            <br>
        Career Website:
            <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.4472334161783!2d-79.98590268457349!3d42.11930797920382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882d7d921e0a23a3%3A0x1c048d8c1b62fafd!2sPenn+State+Behrend!5e0!3m2!1sen!2sus!4v1556219915199!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      <div class="tab-pane fade" id="v-pills-In" role="tabpanel" aria-labelledby="v-pills-In-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn2-www.playstationlifestyle.net%2Fassets%2Fuploads%2F2017%2F09%2Finsomniac-Games-new-logo-1-555x328.png&f=1" width="50%">
          <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website:
      </div>
      <div class="tab-pane fade" id="v-pills-Lucas" role="tabpanel" aria-labelledby="v-pills-Lucas-tab">
      <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2Fc%2Fce%2FLucasarts_logo.svg%2F1200px-Lucasarts_logo.svg.png&f=1" width="50%">
          <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website
      </div>
      <div class="tab-pane fade" id="v-pills-Naughty" role="tabpanel" aria-labelledby="v-pills-Naughty-tab">
          <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn1-www.playstationlifestyle.net%2Fassets%2Fuploads%2F2015%2F04%2F358544.jpg&f=1" width="50%">
        <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
    <div class="tab-pane fade" id="v-pills-NC" role="tabpanel" aria-labelledby="v-pills-NC-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn3.dualshockers.com%2Fwp-content%2Fuploads%2F2015%2F05%2Fncsoft-logo.jpg&f=1" width="50%">
        <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
     <div class="tab-pane fade" id="v-pills-Nexon" role="tabpanel" aria-labelledby="v-pills-Nexon-tab">
         <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FHxt_4Z0T_Ww%2Fhqdefault.jpg&f=1" width="50%">
        <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
        <div class="tab-pane fade" id="v-pills-Nintendo" role="tabpanel" aria-labelledby="v-pills-Nintendo-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fhallucinationrain.files.wordpress.com%2F2014%2F03%2Fnintendo-logo.jpg&f=1" width="50%">
            <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
    </div>
  </div>
</div>
    
<style>
    body
    {
       background-color: aquamarine; 
    }
    .company
    {
    font-family: 'Lobster', cursive;
    width: 1000px;
    height: 500px;
    background-color: lightblue;
    position: absolute;
    left: 300px;
    bottom: 130px;
    }
    p
    {
      font-family: 'Lobster', cursive;  
    }

</style>
</body>

{% endblock %}