{% extends "header.html" %}

{% block body %}

<head>
</head>
<body>

<center><p>Companies down below! Take a look! These are by Ranking from (source)</p></center>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Aniplex-tab" data-toggle="pill" href="#v-pills-Aniplex" role="tab" aria-controls="v-pills-Aniplex" aria-selected="true">Aniplex of America</a>
      <a class="nav-link" id="v-pills-Crunchyroll-tab" data-toggle="pill" href="#v-pills-Crunchyroll" role="tab" aria-controls="v-pills-Crunchyroll" aria-selected="false">Crunchyroll</a>
      <a class="nav-link" id="v-pills-Funimation-tab" data-toggle="pill" href="#v-pills-Funimation" role="tab" aria-controls="v-pills-Funimation" aria-selected="false">Funimation</a>
      <a class="nav-link" id="v-pills-Discotek-tab" data-toggle="pill" href="#v-pills-Discotek" role="tab" aria-controls="v-pills-Discotek" aria-selected="false">Discotek Media</a>
      <a class="nav-link" id="v-pills-Shout-tab" data-toggle="pill" href="#v-pills-Shout" role="tab" aria-controls="v-pills-Shout" aria-selected="false">Shout! Studios</a>
      <a class="nav-link" id="v-pills-Eleven-tab" data-toggle="pill" href="#v-pills-Eleven" role="tab" aria-controls="v-pills-Eleven" aria-selected="false">Eleven Arts Studios</a>
      <a class="nav-link" id="v-pills-Manga-tab" data-toggle="pill" href="#v-pills-Manga" role="tab" aria-controls="v-pills-Manga" aria-selected="false">Manga Entertaiment</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-Aniplex" role="tabpanel" aria-labelledby="v-pills-Aniplex-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FuqTxXFDM2ag%2Fmaxresdefault.jpg&f=1" width="50%">
            <br>
        Company:
            <br>
        Location: 
            <br>
        Titles:
            <br>
        Career Website:
            <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.4472334161783!2d-79.98590268457349!3d42.11930797920382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882d7d921e0a23a3%3A0x1c048d8c1b62fafd!2sPenn+State+Behrend!5e0!3m2!1sen!2sus!4v1556219915199!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      <div class="tab-pane fade" id="v-pills-Crunchyroll" role="tabpanel" aria-labelledby="v-pills-Crunchyroll-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.pcmag.com%2Fmedia%2Fimages%2F434956-crunchyroll-logo.png%3Fwidth%3D910%26height%3D456&f=1" width="50%">
          <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website:
      </div>
      <div class="tab-pane fade" id="v-pills-Funimation" role="tabpanel" aria-labelledby="v-pills-Funimation-tab">
      <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.873_Z-4fsyMlqbL2eorfLAHaHa%26pid%3DApi&f=1" width="50%">
          <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website
      </div>
      <div class="tab-pane fade" id="v-pills-Discotek" role="tabpanel" aria-labelledby="v-pills-Discotek-tab">
        <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
    <div class="tab-pane fade" id="v-pills-Shout" role="tabpanel" aria-labelledby="v-pills-Shout-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.animationmagazine.net%2Fwordpress%2Fwp-content%2Fuploads%2FShout-Studios-post.jpg&f=1" width="50%">
        <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
     <div class="tab-pane fade" id="v-pills-Eleven" role="tabpanel" aria-labelledby="v-pills-Eleven-tab">
        <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
        <div class="tab-pane fade" id="v-pills-Manga" role="tabpanel" aria-labelledby="v-pills-Manga-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-0HrCixGChEY%2FT7NG8D734XI%2FAAAAAAAAAcI%2FxMOk81LNy60%2Fs1600%2FCover.jpg&f=1">
            <br>
          Company:
          <br>
          Location:
          <br>
          Titles:
          <br>
          Career Website 
     </div>
    </div>
  </div>
</div>
    
<style>
    body
    {
       background-color: aquamarine; 
    }
    .company
    {
    font-family: 'Lobster', cursive;
    width: 1000px;
    height: 500px;
    background-color: lightblue;
    position: absolute;
    left: 300px;
    bottom: 130px;
    }
    p
    {
      font-family: 'Lobster', cursive;  
    }

</style>
</body>

{% endblock %}