{% extends "header.html" %}

{% block body %}

<head>
</head>
<body>

<center><p>Companies down below! Take a look! These are the top 10!</p></center>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-Cali-tab" data-toggle="pill" href="#v-pills-Cali" role="tab" aria-controls="v-pills-Cali" aria-selected="true">California Institute of the Arts</a>
      <a class="nav-link" id="v-pills-Ring-tab" data-toggle="pill" href="#v-pills-Ring" role="tab" aria-controls="v-pills-Ring" aria-selected="false">Ringling College of Art and Design</a>
      <a class="nav-link" id="v-pills-Sav-tab" data-toggle="pill" href="#v-pills-Sav" role="tab" aria-controls="v-pills-Sav" aria-selected="false">Savannah College of Art and Design</a>
      <a class="nav-link" id="v-pills-Rhode-tab" data-toggle="pill" href="#v-pills-Rhode" role="tab" aria-controls="v-pills-Rhode" aria-selected="false">Rhode Island School of Design</a>
      <a class="nav-link" id="v-pills-School-tab" data-toggle="pill" href="#v-pills-School" role="tab" aria-controls="v-pills-School" aria-selected="false">School of Visual Arts, New York</a>
      <a class="nav-link" id="v-pills-Uni-tab" data-toggle="pill" href="#v-pills-Uni" role="tab" aria-controls="v-pills-Uni" aria-selected="false">University of Southern Californa</a>
      <a class="nav-link" id="v-pills-Uni2-tab" data-toggle="pill" href="#v-pills-Uni2" role="tab" aria-controls="v-pills-Uni2" aria-selected="false">Univeristy of California, Los Angeles</a>
     <a class="nav-link" id="v-pills-Carn-tab" data-toggle="pill" href="#v-pills-Carn" role="tab" aria-controls="v-pills-Carn" aria-selected="true">Carnegie Mellon University</a>
      <a class="nav-link" id="v-pills-Roch-tab" data-toggle="pill" href="#v-pills-Roch" role="tab" aria-controls="v-pills-Roch" aria-selected="false">Rochester Institute of Technology</a>
      <a class="nav-link" id="v-pills-Full-tab" data-toggle="pill" href="#v-pills-Full" role="tab" aria-controls="v-pills-Full" aria-selected="false">Full Sail University</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-Cali" role="tabpanel" aria-labelledby="v-pills-Cali-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.redcat.org%2Fsites%2Fredcat.org%2Ffiles%2Fredcat_sheet%2Fassociated-images%2F2011-06%2Fcalarts_01.jpg&f=1" width="50%">
            <br>
        Company: California Institute of the Arts
            <br>
        Location: 
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3292.3380751546906!2d-118.56952748477599!3d34.39275198051464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c286d9b47c5cdf%3A0xff8eac7db55f90ab!2sCalifornia+Institute+of+the+Arts!5e0!3m2!1sen!2sus!4v1556826472554!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br>
          Closest Major City: Los Angeles
        </div>
      <div class="tab-pane fade" id="v-pills-Ring" role="tabpanel" aria-labelledby="v-pills-Ring-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.ringling.edu%2Fsites%2Fdefault%2Ffiles%2FRinglingCollege_Logo_2.jpg&f=1" width="50%">
          <br>
          Company: Ringling College of Art and Design 
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3543.494894970011!2d-82.54986878494547!3d27.36025558293685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c33ff059e1c4a1%3A0xa49ea2984ebd6f22!2sRingling+College+of+Art+and+Design!5e0!3m2!1sen!2sus!4v1556826531348!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Tampa
      </div>
      <div class="tab-pane fade" id="v-pills-Sav" role="tabpanel" aria-labelledby="v-pills-Sav-tab">
      <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bestcollegereviews.org%2Fwp-content%2Fuploads%2F2017%2F04%2Fscad-poetter-hall-savannah-1024x683.jpg&f=1" width="50%">
          <br>
          Company: Savannah College of Art and Design
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d660178.6852831085!2d-81.22952498992684!3d31.77527195011009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fb9e690fc74c15%3A0xfbe77d676f13b34a!2sThe+Savannah+College+of+Art+and+Design!5e0!3m2!1sen!2sus!4v1556826865084!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Jacksonville
      </div>
      <div class="tab-pane fade" id="v-pills-Rhode" role="tabpanel" aria-labelledby="v-pills-Rhode-tab">
          <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.paulscharffphotography.com%2FRhode_Island_School_Of_Design.JPG&f=1" width="50%">
        <br>
          Company: Rhode Island School of Design 
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.1015692897604!2d-71.40968068456053!3d41.82611097922635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e44517c1760b29%3A0x613efae532b2721e!2sRhode+Island+School+of+Design+(RISD)!5e0!3m2!1sen!2sus!4v1556833963537!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Boston
     </div>
    <div class="tab-pane fade" id="v-pills-School" role="tabpanel" aria-labelledby="v-pills-School-tab">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Funigo.blob.core.windows.net%2Fmedia%2Fprivateassets%2Fwikipic%2F160px-school_of_visual_arts_logo.jpg&f=1" width="50%">
        <br>
          Company: School of Visual Arts, New York
          <br>
          Location:
          <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.057785772466!2d-73.98441568459424!3d40.73875397932898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25986d5636f21%3A0x4b74ce0c0930baf8!2sSchool+of+Visual+Arts!5e0!3m2!1sen!2sus!4v1556834065571!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
        Closest Major City: New York
     </div>
     <div class="tab-pane fade" id="v-pills-Uni" role="tabpanel" aria-labelledby="v-pills-Uni-tab">
         <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.newgmat.org%2Fwp-content%2Fuploads%2F2012%2F05%2FUniversity-of-Southern-California-seal-logo.png&f=1" width="50%">
        <br>
          Company: University of Southern Californa 
          <br>
          Location:
         <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.8386689575664!2d-118.2873056847857!3d34.022351880614124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7e49c71a5ed%3A0xaa905a5bb427a2c4!2sUniversity+of+Southern+California!5e0!3m2!1sen!2sus!4v1556834183357!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         Closest Major City: Los Angeles 
     </div>
        <div class="tab-pane fade" id="v-pills-Uni2" role="tabpanel" aria-labelledby="v-pills-Uni2-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F0%2F0d%2FThe_University_of_California_UCLA.svg%2F1200px-The_University_of_California_UCLA.svg.png&f=1" width="50%">
            <br>
          Company: University of California, Los Angeles
          <br>
          Location:
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.0231433609297!2d-118.44736978478448!3d34.06892098060134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bc85f05c0f65%3A0x25a993585c134837!2sUniversity+of+California%2C+Los+Angeles!5e0!3m2!1sen!2sus!4v1556834232976!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
            Closest Major City: Los Angeles
            
     </div>
               <div class="tab-pane fade" id="v-pills-Carn" role="tabpanel" aria-labelledby="v-pills-Carn-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2Fb%2Fbb%2FCarnegie_Mellon_University_seal.svg%2F1200px-Carnegie_Mellon_University_seal.svg.png&f=1" width="50%">
            <br>
          Company: Carnegie Mellon Univeristy 
          <br>
          Location:
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.4666233168923!2d-79.94520148460325!3d40.44280807936217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f21f58679a9f%3A0x88716b461fc4daf4!2sCarnegie+Mellon+University!5e0!3m2!1sen!2sus!4v1556834317393!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Pittsburgh
     </div>
               <div class="tab-pane fade" id="v-pills-Roch" role="tabpanel" aria-labelledby="v-pills-Roch-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd4%2FRochester_Institute_of_Technology_seal.svg%2F1200px-Rochester_Institute_of_Technology_seal.svg.png&f=1" width="50%">
            <br>
          Company: Rochester Institute of Technology
          <br>
          Location:
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2415418.489589308!2d-79.80182238925259!3d42.74449813734624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d14c603a147e55%3A0xbe7eb31ed5e22c03!2sRochester+Institute+of+Technology!5e0!3m2!1sen!2sus!4v1556834448172!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Buffalo
     </div>
        <div class="tab-pane fade" id="v-pills-Full" role="tabpanel" aria-labelledby="v-pills-Full-tab">
        <br>
            <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.universitypathway.ilsc.com%2FThemes%2FTheAdmin%2FStyles%2Fimages%2Flogo%2FFSUnivLogo_WHTbkgd.jpg&f=1" width="50%">
            <br>
          Company: Full Sail University 
          <br>
          Location:
            <br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.1073699585645!2d-81.30353478491823!3d28.59655558243199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e76f9a528a8eb3%3A0xbe0c9eae10031c4!2sFull+Sail+University!5e0!3m2!1sen!2sus!4v1556834507902!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
          Closest Major City: Orlando
     </div>
    </div>
  </div>
</div>
    
<style>
    body
    {
       background-color: aquamarine; 
    }
    .company
    {
    font-family: 'Lobster', cursive;
    width: 1000px;
    height: 500px;
    background-color: lightblue;
    position: absolute;
    left: 300px;
    bottom: 130px;
    }
    p
    {
      font-family: 'Lobster', cursive;  
    }

</style>
</body>

{% endblock %}