{% extends "header.html" %}
{% block body %}

    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="game-tab" data-toggle="tab" href="#game" role="tab" aria-controls="game" aria-selected="true">Video Games</a>
      </li>
    </ul><!-- END Nav Tabs -->


 <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for messages in messages %}
                   <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong> Welcome to Video Games Tab!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>     


     <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="game" role="tabpanel" aria-labelledby="game-tab">
          
        <div class="card-deck">
          {% for i in APP_CONTENT["Video Games"] %}
          
          <div class="card" style="width: 18rem;">
              <img src="{{i[3]}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i[0]}}</h5>
                <p class="card-text">{{i[2]}}</p>
                <a href="{{i[1]}}" class="btn btn-primary">{{i[0]}}</a>
              </div>
            </div>
          {% endfor %}
          </div>
         </div>
</div>
<style type="text/css">
    body{
        background-color: aquamarine;
    }
    #myTabContent{
        font-family: 'Lobster', cursive;

    }
    #myTab{
        font-family: 'Lobster', cursive;

    }
</style>

{% endblock %}